.css-r6kxbm-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
  color: white !important;
}

.css-r6kxbm-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active
  .MuiTableSortLabel-icon {
  opacity: 1;
  color: white !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color: white !important;
}
