.weather-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
}

.weather-temperature, .weather-wind, .weather-humidity{
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    margin-top: 10px;
    padding: 5px;
}

.weather-information{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas del mismo tamaño */
    grid-gap: 10px; 
}

.weather-container{
    color: white;
}

.weather-header{
    display: flex;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px
}

